<hr />
<div *ngIf="error" class="error">
    {{ error }}
</div>
<div *ngIf="!error">
    <footer>
        <p>&copy; {{ footerData }}</p>
        <div class="image">
            <img src="../../../../assets/media/images/cards.png" alt="Credit Cards" />
        </div>
    </footer>
</div>
