@import "../../../../assets/scss/allimports";
footer {
    display: flex;
    margin-left: map-get($spacers, 80);
    margin-right: map-get($spacers, 80);
}

.image {
    display: inline-block;
    margin-left: auto;
}

.error {
    justify-content: center;
    text-align: center;
    color: map-get($colors, text, red-light);
}
