<div *ngIf="error" class="error">
    {{ error }}
</div>
<div *ngIf="!error">
    <mat-toolbar>
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
            <img src="../../../../assets/media/images/logo.svg" alt="Book Store" />
            <div class="topnav">
                <a>{{ header.menuItems[0] }}<mat-icon>arrow_drop_down</mat-icon></a>
                <a>{{ header.menuItems[1] }}</a>
                <a>{{ header.menuItems[2] }}<mat-icon>arrow_drop_down</mat-icon></a>
                <a>{{ header.menuItems[3] }}<mat-icon>arrow_drop_down</mat-icon></a>
                <a>{{ header.menuItems[4] }}<mat-icon>arrow_drop_down</mat-icon></a>
                <a>{{ header.menuItems[5] }}<mat-icon>arrow_drop_down</mat-icon></a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
