<div class="head-container">
    <span><mat-icon>help_outline</mat-icon></span>
    <span>Can we help you?</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span><mat-icon>stay_primary_portrait</mat-icon></span>
    <span>+1 246-345-0695</span>
</div>
