@import "../assets/scss/allimports";

.sidenav {
    height: 100vh;
    width: toREM(300px);
    position: fixed;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: map-get($colors, "background", "white");
}
