<mat-drawer-container hasBackdrop="true">
    <mat-drawer #sidenav class="sidenav" mode="over">
        <app-category-selector [sidenav]="sidenav"></app-category-selector>
    </mat-drawer>

    <mat-drawer-content>
        <app-top-bar></app-top-bar>
        <app-header [sidenav]="sidenav" *ngIf="!isLogin"></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>
